body {
    background-image: url("../images/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(240, 233, 233);
}

.a {
    color: rgb(255, 233, 205);
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lora", serif;
}


img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
}

.project-img {
    max-width: 700px;
    text-align: center;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

.text {
    font-style: oblique;
    font-size: large;
    background-color: blue;
}

@media screen and  (max-width: 768px) {

    .project-img {
    flex-direction: column;
}

}


.photo {
    border-radius: 20px;
    max-width: 300px;
}

.profile-card {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.profile-pic {
    max-width: 850px;
   border-radius: 20px;
   
}

.button {
    background-color: #828282;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}


section.about-me {
    display: flex;
    gap: 30px;
    background-color: rgb(0, 0, 0);
}

.about-img img {
    border-radius: 10%;
}
footer {
    background-color: aliceblue;
    padding: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
}